.gallery{
	width: 50%;
	margin:0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10px;
}

.controls {
	margin-top: 25px;
	margin-left: 25px;
	align-items: center;
	justify-content: center;
}

