.container {
    display: inline-flex;
    padding: 15px;
    margin: 15px;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.item {
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 20px;
    display: inline-block;
}

.item2 {
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 5px;
}

.item25 {
    justify-content: space-between;
    margin-bottom: 60px;
    padding: 5px;
}

.item3 {
    justify-content: space-between;
    display: inline-block;
    padding: 45px;
    margin-top: 10px;
    margin-bottom: 30px;
}


.h4-container{
    display: inline-flex;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

body {
    background-color: rgb(215, 204, 247);
    font-family: 'Slabo 27px', serif;
}

p {
    color: black;
    letter-spacing: large;
}

.fam {
    margin: 20px;
}

ul {
    color: black;
}

h1 {
    color:black;
    display: block;
    position: relative;
    font-size: xx-large;
    margin-left: 5%;
    margin-top: 30px;
}

h2 {
    color: black;
    margin-top: 10px;
    font-size: larger;
    margin-left: 5%;
}

.cal {
    width: 80%;
    display: block;
    padding:15px;
    margin: 20px;
}

h3 {
    color:purple;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.graphic {
    margin-top: 30px;
}

h4 {
    color: black;
    justify-content: space-between;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-top: 20px;
}

.nav {
    display: block;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 15px;
}

.current {
    text-transform: uppercase;
}

.always {
    color: purple;
    font-size: 20px;
    padding: 10px;
}

.prof {
    text-align: center;
    align-items: center;
    padding: 15px;
}

.proff {
    display: inline-block;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    /* margin-bottom: 15px; */
}

    
li {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
}


.flex-container {
    padding: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: column wrap;
    justify-content: center;
  }

.flex-container2 {
    margin-left: 40%;
    padding: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: column wrap;
    justify-content: center;
}
  
  .flex-item {
    padding: 5px;
    /* margin-top: 10px; */
    text-align: center;
  }

  .text {
      padding-left: 15px;
      padding-right: 15px;
  }

  .icon {
      display: flex;
      justify-content: center;
      color: white;
  }

  .button {
      margin-bottom: 15px;
      margin-top: 20px;
  }

  .background {
      height: 80vh;
  }

  .smiley {
      margin-left: 5%;
      margin-top: 20px;
      margin-bottom: 15px;
  }

  .contacthead {
      margin-bottom: 20px;
      margin-left: 35%;
  }

  .contactbuttons {
    display: flex;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: 20%;
  }

  .contactbuttons2 {
    display: flex;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}

a.skip:active, 
a.skip:focus, 
a.skip:hover {
    left: 0; 
    top: 0;
    width: auto; 
    height: auto; 
    overflow: visible; 
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 30%;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  .flip-card-back {
    background-color: rgb(174, 196, 238);
    color: white;
    transform: rotateY(180deg);
  }

 
  .mySlides {display: none}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 5px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  .dotcontrols {
    text-align:center;
    margin-bottom: 45px;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }


@media only screen and (min-width: 950px){
    .container, .row {
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        
    }
    .flex-container2 {
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0px;
    }
    .button {
        margin-bottom: 0px;
    }

    .contactbuttons {
        -webkit-flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .contacthead {
        margin-bottom: 20px;
        margin-left: 40%;
    }

    .flip-card {
        margin-left: 40%;
    }

}

@media only screen and (min-width: 950px) {
    .nav {
        display: inline-block;
        text-align: center;
        justify-content: space-around;
        margin: 15px 5px;
    }

    .cal {
        width: 55%;
        margin: 15px;
        padding: 10px;
    } 

    .item3 {
        margin: 0px;
    }
}
