.container {
    display: inline-flex;
    padding: 25px;
    margin: 15px;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.item {
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 30px;
    display: inline-block;
}

.item2 {
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 5px;
}

.item25 {
    justify-content: space-between;
    margin-bottom: 60px;
    padding: 5px;
}

.item3 {
    justify-content: space-between;
    display: inline-block;
    padding: 45px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.h1-container {
    display: inline-flex;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.h4-container{
    display: inline-flex;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

body {
    background-color: rgb(210, 197, 241);
    font-family: 'Slabo 27px', serif;
}

p {
    color: navy;
}

.fam {
    margin: 20px;
}

ul {
    color: navy;
}

h1 {
    color: white;
    display: block;
    position: relative;
}

h3 {
    color: white;
}

h4 {
    color: navy;
    justify-content: space-between;
    display: inline-block;
}

.nav {
    display: inline-block;
    text-align: center;
    justify-content: space-between;
}

.current {
    text-transform: uppercase;
}

.prof {
    text-align: center;
    padding: 15px;
}

.proff {
    display: inline-block;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
    
li {
    padding-left: 50px;
    padding-right: 50px;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .flex-item {
    padding: 5px;
    margin-top: 10px;
    text-align: center;
  }

  .text {
      padding-left: 15px;
      padding-right: 15px;
  }

  .icon {
      display: flex;
      justify-content: center;
  }